@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans'); /* Sans-serif */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif'); /* Serif (print) */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono'); /* Monospace */

body {
  /* color: #404040; */
  color: #000000;
  /* font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Geneva, sans-serif; */
  font: 300 .9em/1.6em "Noto Sans", "Segoe UI", Arial, Sans-Serif, "Droid Serif", Cambria, Georgia, "DejaVu Serif", serif;
  font-size: 10pt;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: justify;
}

h1, h2 {
  font-weight: normal;
}

h1, h2, h3 {
  border-bottom: 1px solid #CCCCCC;
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans,
    sans-serif;
}

h4, h5, h6 {
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans,
    sans-serif;
}

a {
  color: #115589;
  text-decoration: none;
}

a:hover {
  color: #404040;
}

#site-identification {
  background: url("/images/header.png") top left repeat-x;
  height: 46px;
}

#preamble-navigation {
  background: #206091 url("/images/navigation.png") bottom repeat-x;
  color: #FFFFFF;
  margin: 0;
  padding: 4px 15px 30px 55px;
}

#preamble-navigation p {
  margin: 0;
}

#preamble-navigation a {
  color: #FFFFFF;
}

#preamble-navigation a:first-child {
  font-weight: bold;
}

#preamble-navigation a:hover {
  text-decoration: underline;
}

#me {
  background: #E5E5E5;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #C2C6C6;
  clear: both;
  content: "";
  display: table;
  margin-bottom: 25px;
  padding: 25px;
  text-align: left;
  width: calc(100% - 50px);
}

#me-info {
  float: left;
  width: calc(100% - 161px);
}

#me-photo {
  margin-left: calc(100% - 146px);
  text-align: right;
  width: 146px;
}

#current-position {
  font-size: 120%;
}

.contact-left {
  padding: 3px 3px 3px 5px;
}

.contact-right {
  padding: 3px 5px 3px 3px;
}

#me-info > p,
#current-position p:first-child {
  margin-top: 0;
}

#postamble-separator {
  margin-bottom: 1.5em;
}

#postamble-navigation p {
  margin: 0.7em 0;
}

#postamble-navigation p a:first-child {
  font-weight: bold;
}

#last-modification {
  color: #909090;
  font-size: 80%;
  text-align: center;
}

.post-title {
  margin-bottom: 0.2em;
}

.post-metadata {
  color: #909090;
  font-size: 80%;
}

.post-separator {
  border-top: 1px dotted #909090;
  border-bottom: 0;
}

#preamble {
  width: 100%;
  margin: 0;
  padding: 0;
}

#content, .content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#content h1:first-child, .content h1:first-child {
  margin-top: 0;
}

#postamble {
  margin: 0;
  font-size: 80%;
  padding: 0 15px;
  text-align: center;
}

.src, .example {
  border: 1px dashed #000000;
  font-size: 12px;
  overflow-x: scroll;
  padding: 10px;
}

code {
  border: 1px dashed #000000;
  font-size: 12px;
  padding: 2px;
}

.figure {
  margin: 1.5em auto;
}

.figure p {
  font-size: 90%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.icon {
  vertical-align: sub;
}

.org-center {
  text-align: center;
}

.footdef > sup {
  float: left;
}

.footpara {
  margin-left: 5px;
}

@media (min-width: 992px) {
  #content {
    width: 970px;
  }
}

@media (max-width: 576px) {
  #preamble-navigation {
    padding: 4px 15px 30px 15px;
  }

  #me-info {
    width: 100%;
  }

  #me-photo {
    display: none;
  }
}

.org-bold { /* bold */ font-weight: bold; }
.org-bold-italic { /* bold-italic */ font-weight: bold; font-style: italic; }
.org-buffer-menu-buffer { /* buffer-menu-buffer */ font-weight: bold; }
.org-builtin { /* font-lock-builtin-face */ color: #7a378b; }
.org-button { /* button */ text-decoration: underline; }
.org-calendar-today { /* calendar-today */ text-decoration: underline; }
.org-change-log-acknowledgement { /* change-log-acknowledgement */ color: #b22222; }
.org-change-log-conditionals { /* change-log-conditionals */ color: #a0522d; }
.org-change-log-date { /* change-log-date */ color: #8b2252; }
.org-change-log-email { /* change-log-email */ color: #a0522d; }
.org-change-log-file { /* change-log-file */ color: #0000ff; }
.org-change-log-function { /* change-log-function */ color: #a0522d; }
.org-change-log-list { /* change-log-list */ color: #a020f0; }
.org-change-log-name { /* change-log-name */ color: #008b8b; }
.org-comint-highlight-input { /* comint-highlight-input */ font-weight: bold; }
.org-comint-highlight-prompt { /* comint-highlight-prompt */ color: #00008b; }
.org-comment { /* font-lock-comment-face */ color: #999988; font-style: italic; }
.org-comment-delimiter { /* font-lock-comment-delimiter-face */ color: #999988; font-style: italic; }
.org-completions-annotations { /* completions-annotations */ font-style: italic; }
.org-completions-common-part { /* completions-common-part */ color: #000000; background-color: #ffffff; }
.org-completions-first-difference { /* completions-first-difference */ font-weight: bold; }
.org-constant { /* font-lock-constant-face */ color: #008b8b; }
.org-diary { /* diary */ color: #ff0000; }
.org-diff-context { /* diff-context */ color: #7f7f7f; }
.org-diff-file-header { /* diff-file-header */ background-color: #b3b3b3; font-weight: bold; }
.org-diff-function { /* diff-function */ background-color: #cccccc; }
.org-diff-header { /* diff-header */ background-color: #cccccc; }
.org-diff-hunk-header { /* diff-hunk-header */ background-color: #cccccc; }
.org-diff-index { /* diff-index */ background-color: #b3b3b3; font-weight: bold; }
.org-diff-nonexistent { /* diff-nonexistent */ background-color: #b3b3b3; font-weight: bold; }
.org-diff-refine-change { /* diff-refine-change */ background-color: #d9d9d9; }
.org-dired-directory { /* dired-directory */ color: #0000ff; }
.org-dired-flagged { /* dired-flagged */ color: #ff0000; font-weight: bold; }
.org-dired-header { /* dired-header */ color: #228b22; }
.org-dired-ignored { /* dired-ignored */ color: #7f7f7f; }
.org-dired-mark { /* dired-mark */ color: #008b8b; }
.org-dired-marked { /* dired-marked */ color: #ff0000; font-weight: bold; }
.org-dired-perm-write { /* dired-perm-write */ color: #b22222; }
.org-dired-symlink { /* dired-symlink */ color: #a020f0; }
.org-dired-warning { /* dired-warning */ color: #ff0000; font-weight: bold; }
.org-doc { /* font-lock-doc-face */ color: #8b2252; }
.org-escape-glyph { /* escape-glyph */ color: #a52a2a; }
.org-file-name-shadow { /* file-name-shadow */ color: #7f7f7f; }
.org-flyspell-duplicate { /* flyspell-duplicate */ color: #cdad00; font-weight: bold; text-decoration: underline; }
.org-flyspell-incorrect { /* flyspell-incorrect */ color: #ff4500; font-weight: bold; text-decoration: underline; }
.org-fringe { /* fringe */ background-color: #f2f2f2; }
.org-function-name { /* font-lock-function-name-face */ color: teal; }
.org-header-line { /* header-line */ color: #333333; background-color: #e5e5e5; }
.org-help-argument-name { /* help-argument-name */ font-style: italic; }
.org-highlight { /* highlight */ background-color: #b4eeb4; }
.org-holiday { /* holiday */ background-color: #ffc0cb; }
.org-isearch { /* isearch */ color: #b0e2ff; background-color: #cd00cd; }
.org-isearch-fail { /* isearch-fail */ background-color: #ffc1c1; }
.org-italic { /* italic */ font-style: italic; }
.org-keyword { /* font-lock-keyword-face */ color: #0086b3; }
.org-lazy-highlight { /* lazy-highlight */ background-color: #afeeee; }
.org-link { /* link */ color: #0000ff; text-decoration: underline; }
.org-link-visited { /* link-visited */ color: #8b008b; text-decoration: underline; }
.org-log-edit-header { /* log-edit-header */ color: #a020f0; }
.org-log-edit-summary { /* log-edit-summary */ color: #0000ff; }
.org-log-edit-unknown-header { /* log-edit-unknown-header */ color: #b22222; }
.org-match { /* match */ background-color: #ffff00; }
.org-next-error { /* next-error */ background-color: #eedc82; }
.org-nobreak-space { /* nobreak-space */ color: #a52a2a; text-decoration: underline; }
.org-org-archived { /* org-archived */ color: #7f7f7f; }
.org-org-block { /* org-block */ color: #7f7f7f; }
.org-org-block-begin-line { /* org-block-begin-line */ color: #b22222; }
.org-org-block-end-line { /* org-block-end-line */ color: #b22222; }
.org-org-checkbox { /* org-checkbox */ font-weight: bold; }
.org-org-checkbox-statistics-done { /* org-checkbox-statistics-done */ color: #228b22; font-weight: bold; }
.org-org-checkbox-statistics-todo { /* org-checkbox-statistics-todo */ color: #ff0000; font-weight: bold; }
.org-org-clock-overlay { /* org-clock-overlay */ background-color: #ffff00; }
.org-org-code { /* org-code */ color: #7f7f7f; }
.org-org-column { /* org-column */ background-color: #e5e5e5; }
.org-org-column-title { /* org-column-title */ background-color: #e5e5e5; font-weight: bold; text-decoration: underline; }
.org-org-date { /* org-date */ color: #a020f0; text-decoration: underline; }
.org-org-document-info { /* org-document-info */ color: #191970; }
.org-org-document-info-keyword { /* org-document-info-keyword */ color: #7f7f7f; }
.org-org-document-title { /* org-document-title */ color: #191970; font-size: 144%; font-weight: bold; }
.org-org-done { /* org-done */ color: #228b22; font-weight: bold; }
.org-org-drawer { /* org-drawer */ color: #0000ff; }
.org-org-ellipsis { /* org-ellipsis */ color: #b8860b; text-decoration: underline; }
.org-org-footnote { /* org-footnote */ color: #a020f0; text-decoration: underline; }
.org-org-formula { /* org-formula */ color: #b22222; }
.org-org-headline-done { /* org-headline-done */ color: #bc8f8f; }
.org-org-hide { /* org-hide */ color: #ffffff; }
.org-org-latex-and-export-specials { /* org-latex-and-export-specials */ color: #8b4513; }
.org-org-level-1 { /* org-level-1 */ color: #0000ff; }
.org-org-level-2 { /* org-level-2 */ color: #a0522d; }
.org-org-level-3 { /* org-level-3 */ color: #a020f0; }
.org-org-level-4 { /* org-level-4 */ color: #b22222; }
.org-org-level-5 { /* org-level-5 */ color: #228b22; }
.org-org-level-6 { /* org-level-6 */ color: #008b8b; }
.org-org-level-7 { /* org-level-7 */ color: #7a378b; }
.org-org-level-8 { /* org-level-8 */ color: #8b2252; }
.org-org-link { /* org-link */ color: #0000ff; text-decoration: underline; }
.org-org-meta-line { /* org-meta-line */ color: #b22222; }
.org-org-mode-line-clock { /* org-mode-line-clock */ color: #000000; background-color: #bfbfbf; }
.org-org-mode-line-clock-overrun { /* org-mode-line-clock-overrun */ color: #000000; background-color: #ff0000; }
.org-org-quote { /* org-quote */ color: #7f7f7f; }
.org-org-scheduled { /* org-scheduled */ color: #006400; }
.org-org-scheduled-previously { /* org-scheduled-previously */ color: #b22222; }
.org-org-scheduled-today { /* org-scheduled-today */ color: #006400; }
.org-org-sexp-date { /* org-sexp-date */ color: #a020f0; }
.org-org-special-keyword { /* org-special-keyword */ color: #a020f0; }
.org-org-table { /* org-table */ color: #0000ff; }
.org-org-tag { /* org-tag */ font-weight: bold; }
.org-org-target { /* org-target */ text-decoration: underline; }
.org-org-time-grid { /* org-time-grid */ color: #b8860b; }
.org-org-todo { /* org-todo */ color: #ff0000; font-weight: bold; }
.org-org-upcoming-deadline { /* org-upcoming-deadline */ color: #b22222; }
.org-org-verbatim { /* org-verbatim */ color: #7f7f7f; }
.org-org-verse { /* org-verse */ color: #7f7f7f; }
.org-org-warning { /* org-warning */ color: #ff0000; font-weight: bold; }
.org-outline-1 { /* outline-1 */ color: #0000ff; }
.org-outline-2 { /* outline-2 */ color: #a0522d; }
.org-outline-3 { /* outline-3 */ color: #a020f0; }
.org-outline-4 { /* outline-4 */ color: #b22222; }
.org-outline-5 { /* outline-5 */ color: #228b22; }
.org-outline-6 { /* outline-6 */ color: #008b8b; }
.org-outline-7 { /* outline-7 */ color: #7a378b; }
.org-outline-8 { /* outline-8 */ color: #8b2252; }
.org-preprocessor { /* font-lock-preprocessor-face */ color: #7a378b; }
.org-query-replace { /* query-replace */ color: #b0e2ff; background-color: #cd00cd; }
.org-regexp-grouping-backslash { /* font-lock-regexp-grouping-backslash */ font-weight: bold; }
.org-regexp-grouping-construct { /* font-lock-regexp-grouping-construct */ font-weight: bold; }
.org-region { /* region */ background-color: #eedc82; }
.org-secondary-selection { /* secondary-selection */ background-color: #ffff00; }
.org-shadow { /* shadow */ color: #7f7f7f; }
.org-show-paren-match { /* show-paren-match */ background-color: #40e0d0; }
.org-show-paren-mismatch { /* show-paren-mismatch */ color: #ffffff; background-color: #a020f0; }
.org-string { /* font-lock-string-face */ color: #dd1144; }
.org-tool-bar { /* tool-bar */ color: #000000; background-color: #bfbfbf; }
.org-tooltip { /* tooltip */ color: #000000; background-color: #ffffe0; }
.org-trailing-whitespace { /* trailing-whitespace */ background-color: #ff0000; }
.org-type { /* font-lock-type-face */ color: #228b22; }
.org-underline { /* underline */ text-decoration: underline; }
.org-variable-name { /* font-lock-variable-name-face */ color: teal; }
.org-warning { /* font-lock-warning-face */ color: #ff0000; font-weight: bold; }
.org-widget-button { /* widget-button */ font-weight: bold; }
.org-widget-button-pressed { /* widget-button-pressed */ color: #ff0000; }
.org-widget-documentation { /* widget-documentation */ color: #006400; }
.org-widget-field { /* widget-field */ background-color: #d9d9d9; }
.org-widget-inactive { /* widget-inactive */ color: #7f7f7f; }
.org-widget-single-line-field { /* widget-single-line-field */ background-color: #d9d9d9; }
.org-svg { max-width: 100%; }

pre {
    /* Use #EAEAEA for background-color of border with src code block's name */
    /*background-color: #F8F8FF;*/
    background-color: #272822;
    border: 1px solid #DEDEDE;
    border-width: 2px;
    border-radius: 5px;
    /*color: #444444;*/
    line-height: 1.5em;
    overflow: auto;
    padding: 10px;
    font-family: Droid Sans Mono, Monaco, Consolas, "Lucida Console", monospace;
    /*color: black;*/
    color: #F8F8F2;
    font-size: 100%;
    padding: 0.5em;
    /*background-color: #f2f2f2;*/
}

pre.src {
    overflow: auto;
}

@media screen and (max-width: 1023px) {
    #table-of-contents {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ccc;
        background-color: #FFFFEE;
    }
    #table-of-contents h2 {
        margin: -1px 0 0 0;
        padding: 4px 0 4px 6px;
        padding-right: 1em;
        min-width: 190px;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.4em;;
        text-align: center;
        background-color: #444;
        color: white;
        cursor: pointer;
    }

    #table-of-contents #text-table-of-contents {
        display: none;
        padding: 0.5em 1em 1em;
        overflow: auto;
        height: calc(90vh - 84px);
        border-left: 1px solid #ddd;
    }

    #table-of-contents:hover #text-table-of-contents {
        display: block;
        padding: 0.5em;
        /*margin-top: -1.5em;*/
    }
    img { /* future proofing */
        max-width: 100%;
        height: auto;
    }
}
/* alternative layout for wide screens */
@media screen and (min-width: 1024px) {
    body {
        max-width: 1024px;
        margin: auto;
        /* padding-left: 1.5em; */
        /* padding-right: 29em; */
    }

    #table-of-contents {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ccc;
        /* border-right: 1px solid #ccc; */
        background-color: #FFFFEE;
    }
    #table-of-contents h2 {
        margin: -1px 0 0 0;
        padding: 4px 0 4px 6px;
        padding-right: 1em;
        min-width: 190px;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.4em;;
        text-align: center;
        background-color: #444;
        color: white;
        cursor: pointer;
    }

    #table-of-contents #text-table-of-contents {
        display: none;
        padding: 0.5em 1em 1em;
        overflow: auto;
        height: calc(90vh - 84px);
        border-left: 1px solid #ddd;
    }

    #table-of-contents:hover #text-table-of-contents {
        display: block;
        padding: 0.5em;
        /*margin-top: -1.5em;*/
    }
    img { /* future proofing */
        max-width: 100%;
        height: auto;
    }
}
